@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'IranianSans';
	src: url('../fonts/IRANSans-web.woff') format('woff');
}

*{
    font-family: "IranianSans";
	direction: rtl;
}